NEXT_PUBLIC_SECRET="same-secret-as-api" # Secret used to encrypt sensitive data. Must be the same in the frontend and backend
NEXT_PUBLIC_KEY_FILE_MAX_SIZE=1024 # Max size in bytes for the key file used to login
NEXT_PUBLIC_TZ="America/Argentina/Buenos_Aires" # Timezone
NEXT_PUBLIC_BACK_BASE_URL='http://locahost:5000' # The domain in which the backend is running
NEXT_PUBLIC_API_BASE_URL='http://localhost:5000/api' # The url to the api
NEXT_PUBLIC_INITIAL_PATH="/" # The path you will be in after you login
NEXT_PUBLIC_CLIENT_BASE_URL: "http://localhost:3000" # The url where the client is running